/*
Colors:
Background: #051622
Blue: #1ba098
Accent: #FAF2C1
*/

body  {
    background-color: #051622;  
    margin: 0;
    padding: 0; 
    font-family: 'Open Sans', sans-serif; 
}

.header {
    display: flex;
    background-color: #1ba098 ;
    justify-content: center;
    width: 100%;
}

.header > img {
    height: 50px;
    padding-top: 8px;
    padding-right: 3px;
}

.header > p {
    font-family: 'Open Sans', sans-serif;
    color: #FAF2C1;
    font-size: 20px;
}

.hardwareContainer {
    width: 90%;
    background-color: #fff9d0;
    margin: auto;
    margin-top: 10px;
}

.hardwareTitle {
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
    padding-top: 10px;
}

.hardwareGrid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr 1fr 1fr 2fr 1fr 3fr;
    padding: 5px;
    /* gap: 10px; */
}

.hardwareItem {
    padding: 10px;
    margin: 0;
    border: 1px solid black;
    font-size: 14px;
}

.gridHeading {
    font-weight: bold;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid black;
}

.hidden {
    visibility: collapse;
}